* {
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.table {
  display: flex;
  justify-content: center;
  width: auto;
}

table {
  table-layout: fixed;
  width: 90%;
  background-color: #2b95f8;
  color: black;
  border-spacing: 0;
}

.titleheader {
  width: 30%;
}

.authorheader {
  width: 20%;
}

.pagesheader {
  width: 10%;
}

.statusheader {
  width: 15%;
}

.buttonheader {
  width: 12.5%;
}

th {
  padding: 10px 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tbody {
  background-color: lightblue;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

thead {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.addbook {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  font-size: 17px;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}

.bookbutton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 3px 10px;
  cursor: pointer;
}

.formpopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 8%;
  transform: translate(-50%, 5%);
  text-align: center; /* aligns the labels */
  border: 3px solid black;
  border-radius: 3px;
}

.formcontainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}

.formcontainer input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

.formcontainer input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.formcontainer .radiobutton {
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: black;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.formcontainer .button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formcontainer .cancel {
  background-color: #cc0000;
  opacity: 0.8;
}

.spacer {
  height: 100px;
}
